.container{
    /* max-height: 90%; */
    /* position: absolute; */
    /* bottom: 5px;
    height: 50px; */
    width: 100%;
    
    /* border-radius: 10px;
    border: solid 1px white;
    padding: 5px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}