.container{
    margin: 6px;
    padding: 15px;
    
    width: 106px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /* color: black; */
    border-color: rgb(88, 155, 249);
    border-radius: 16px;
    outline:1px solid  rgb(88, 155, 249);
    outline-offset:-1px; 
    color: rgb(44, 90, 155);

}

