.container{
    margin: 27px 27px 0 27px;
    padding: 15px;
    min-width: 50px;
    /* max-width: 22%; */
    /* width: 22vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /* color: black; */
    border-color: rgb(88, 155, 249);
    border-radius: 16px;
    outline:1px solid  rgb(88, 155, 249);
    outline-offset:-1px; 
    color: rgb(44, 90, 155);
  

}
@media screen and (max-width: 500px) {
    .container{
      
        min-width: 90%;
       
      
    
    }
  }

  @media screen and (max-width: 700px) {
    .container{
      
        width: 44%;
       
      
    
    }
  }
  @media screen and (max-width: 900px) {
    .container{
      
        min-width: 28%;
       
      
    
    }
  }


