.input{
    width: 100%;
    max-height: 100px;
    padding: 5px;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    resize: none;
    border: none;
    background: none;
    outline: none;
    text-align: start;
    overflow: auto;

    }