.input{
    min-width: 90%;
 
    max-height: 100px;
    padding: 7px;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    resize: none;
    border: none;
    background: none;
    outline: none;
    text-align: start;
    overflow: auto;

    }