.container{
    width: 90%;
    min-height: 88%;
    max-height: 88%;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid rgb(49, 166, 255);
    border-radius: 15px;
    overflow: auto;
}

.cards__wrapper{
    min-width: 100%;
    min-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    /* background-color: aqua; */
   
}