p {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.notification,
.message,
.myMessage {
    min-width: 190px;
    height: fit-content;
    max-width: 95%;
    margin: 2px;
    padding: 6px 6px;
    border-radius: 12px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow:visible
}

.notification {
    min-width: 240px;
    max-height: 60px;
    justify-self: flex-start;
    margin: 2px 0;
    background: rgb(50, 45, 62);
    background: linear-gradient(45deg, rgb(77, 70, 94) 30%, rgba(81, 75, 96, 0.604) 50%, rgba(116, 75, 131, 0.267) 100%, rgba(255, 34, 196, 0.204) 100%);
    animation: gradient 120s ease infinite;
    background-size: 5000% 5000%;
    color: rgb(255, 255, 255);

}

@keyframes gradient {

    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.message {
   
    justify-self: flex-end;
    background-color: rgb(164, 180, 237);
    color: black;
}

.myMessage {
   
    background-color: rgb(77, 70, 94);
    color: rgb(255, 255, 255);
    justify-self: flex-start;
}

.messageHeader {
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 100%;
}

.left__area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* width: 70px; */
}

.author {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans;
    font-size: small;
    font-weight: 400;
    margin-left: 2px;
    display: block;
    text-align: end;
    align-self: flex-end;
}

.date {
    color: rgb(91, 37, 94);

}

.my__date {
    color: rgb(181, 238, 255);

}

.nodate {
    display: none;
}

.body {
    height: fit-content;
    max-width: 100%;
    display: inline;
    z-index: 0;
    word-wrap: break-word;
    text-align: start;
    text-justify: start;

}

.body__text {
    display: inline;
    margin: 0;
    max-width: 100%;
   
    white-space: pre-wrap;
    /* height: fit-content; */
    text-justify: start;
}

.messageFooter {
    /* height: 25px; */
    min-width: 100%;
    /* margin-bottom: 12px; */
}

.myInfo__wrapper,
.info__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    min-width: 100%;
}

.infoItem,
.myInfoItem {
    margin: 0;
    padding: 0;
    margin: 0 5px;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}

.infoItem {
    color: rgb(0, 0, 0);

}

.myInfoItem {
    color: rgb(255, 255, 255);

}