.container {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 70px);
    height: 100%;
    max-height: 100%;
}

.title,
.title__group {
    font-weight: 500;
    font-size: medium;
}

.dialogs {
    height: 30%;

    max-height: calc(100vh /2);


}

.groupDialogs {
    height: 50%;

    max-height: calc(100vh /2);


}

.title__group {
    cursor: pointer;
}