
.container, .container__sending{
    min-height: 100%;
    height: 70vh;
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: flex-start;
  
    /* justify-content: flex-start; */
    

}
.container__sending{

    opacity: 59%;

}


.messages{
    
    min-height: 97%;
    max-height: 100%;
    width: 97%;
    margin: 15px 5px;
    background-color: white;
    border-radius: 12px;
    display: grid;
    overflow-y: auto;

}

/* .message, .myMessage{
    margin: 5px;
width: 250px;
max-height: 100%;
border-radius: 16px;
border: solid 1px;
/* position: absolute; */


