.container{
    min-width: 100%;
    min-height: 100%;
    /* margin: 25px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(198,176,200);
background: linear-gradient(45deg, rgba(198,176,200,1) 0%, rgba(138,90,162,1) 50%, rgba(255,98,213,1) 100%);
    font-size: large;
    animation: gradient 17s ease infinite;
    background-size: 500% 500%;
    color: rgb(255, 255, 255);
}

@keyframes gradient{
 
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}