.container{
width: 97vw;
    height: 85vh;
  
    background-color: #333843;
    display: grid;
    grid-template-areas: 
    /* 'a' 'b' 'b' 'b' 'b' 'c'; */
    'a  b  c';
    /* grid-template-rows: 50px 1fr 30px; */
  grid-template-columns: 20% 60% 20%;
  border-radius: 20px;
  outline:1px solid  rgb(88, 155, 249);
    outline-offset:-1px;  
  border-color: rgb(88, 155, 249);
  color: rgb(88, 155, 249);
  
}


.menu{
 
    grid-area:  'c';
    border-left: solid 0.5px;
    border-color: rgb(88, 155, 249);
    display: flex;
    justify-content: center;

}