main {
  max-height: 100vh;
  margin-top: 10px;
}

.frame {
  width: 97vw;
  height: 650px;
  max-height: calc(100vh - 80px);
  
  background-color: #333843;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: 1fr;
  border-radius: 20px;
  outline: 1px solid rgb(88, 155, 249);
  outline-offset: -1px;
  border-color: rgb(88, 155, 249);
  color: rgb(88, 155, 249);
  overflow-y: auto;

}
.frame::-webkit-scrollbar {
  display: none;
}



.menu {
  height: 650px;
  min-height: 330px;
  max-height: calc(100vh - 83px);
  border-left: solid 0.5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

}
.left__area{
  max-height: calc(100vh -  80px);
}

@media screen and (max-width: 902px) {
  .menu {
    display: none;
  }

  .frame {
    width: 97vw;
    
    background-color: #3d424d;
    display: grid;
    grid-template-columns: 100%;
  }
}