.container{
width: 97vw;
    height: 88vh;

    background-color: #333843;
    display: grid;
  grid-template-columns: 70% 30%;
  border-radius: 20px;
  outline:1px solid  rgb(88, 155, 249);
    outline-offset:-1px;  
  border-color: rgb(88, 155, 249);
  color: rgb(88, 155, 249);
  
}

.left__area{
  height: 88vh;
}

.menu{
 
    border-left: solid 0.5px;
    border-color: rgb(88, 155, 249);
    display: flex;
    justify-content: center;

}