.message, .myMessage{
    min-width: 190px;
    max-height: 20%;
    width: 40%;
    margin: 5px;
    padding: 10px;
    border-radius: 16px;
    display: flex;
    overflow: auto;
}
.message{
    justify-self: flex-end;
    background-color: rgb(164, 180, 237);
    color: black;
}
.myMessage{
   
    /* height: ; */
    /* max-height: 100px; */
    background-color: rgb(77, 70, 94);
    color: rgb(255, 255, 255);
    justify-self: flex-start;
    }