
.message{
    justify-self: flex-end;
    background-color: rgb(219, 152, 84);
    color: black;
}
.myMessage{
    width: 250px;
    /* height: ; */
    /* max-height: 100px; */
    background-color: blue;
    border-radius: 16px;
    justify-self: flex-start;
    }