p{
    margin: 0;
    padding: 0;
}
.notification, .message, .myMessage{
    min-width: 190px;
    /* min-height: 10%; */
    height: fit-content;
    /* max-height: 100%; */
    /* max-width: 70%; */
    max-width: 100%;
    margin: 2px;
    padding: 5px 10px;
    border-radius: 12px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    /* z-index: 0; */
    /* display: grid; */
    /* overflow: auto; */
}
.notification{
    margin: 2px 0 ;
}
.message{
    justify-self: flex-end;
    background-color: rgb(164, 180, 237);
    color: black;
}
    .myMessage, .notification{
    background-color: rgb(77, 70, 94);
    color: rgb(255, 255, 255);
    justify-self: flex-start;
    }
    .author{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans;
        font-weight: 600;
    }
    .body{
        height: fit-content;
        max-width: 100%;
        display: inline-block;
        z-index: 0;
        word-wrap:break-word;
        text-align: start;
        
    }
    .body__text{
        margin: 0;
        /* width: 100px; */
        white-space:pre-wrap ;
    }
    .messageFooter{
        /* height: 25px; */
        min-width: 100%;
        /* margin-bottom: 12px; */
    }
    .myInfo__wrapper, .info__wrapper{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        min-width: 100%;
    }
    /* .myInfo__wrapper{
     
        justify-content: flex-end;
       
    }
    .info__wrapper{
        justify-content: flex-start;
         
    } */
    .infoItem, .myInfoItem{
        margin: 0;
        padding: 0;
        margin: 0 5px;
        font-size: small;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 600;
    }
    .infoItem{
        color: rgb(255, 255, 255);
        /* opacity: 10%; */
    }
    .myInfoItem{
        color: rgb(156, 245, 246);
        /* opacity: 10%; */
       ;
    }