.menu{
    margin-top: 25px;
    height: 80%;
    width: 80%;
    border-radius: 16px;
    background-color: white;
    color: rgb(88, 155, 249);
}
.container{
    height: 20%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
    background-color: white;
    
}
.link{
    text-decoration: none;
}