.item{
    /* background-color: white; */
    margin-left: 5px;
    min-width:90%;
    height: 60px;
    border-radius: 10px;
   display: flex;
   flex-direction: row;
   cursor: pointer;
   margin-bottom: 2px;
   position: relative;
  
}
.text__wrapper{
    margin: 0 0 0 8px;
    height:100%;
    width: 80%;
    /* background-color: rgba(0, 0, 255, 0.329); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.avatar{
    border-radius: 50%;
    background-color: rgb(0, 0, 255);
    width: 39px;
    height: 39px;
    margin: 2px 0 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(198,176,200);
    background: linear-gradient(45deg, rgba(198,176,200,1) 0%, rgba(138,90,162,1) 50%, rgb(255, 34, 196) 100%);
        font-size: large;
        animation: gradient 7s ease infinite;
        background-size: 1500% 1500%;
        color: rgb(255, 255, 255);
    }
    
    @keyframes gradient{
     
        0%{
            background-position: 0 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0 50%;
        }
    }
    .initials{
        margin: 0;
        /* font-size:small; */
    }
.name, .message{
    margin: 0;
    /* display: block; */
    text-align: start;
    color: rgb(88, 155, 249);
}
.name{
    font-size: small;
}