.container{
    margin-top: 10vh;
    height: calc(100vh - 50px - 150px);
    /* width: 234px; */
}
.form__wrapper{
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.form{
    display: flex;
    flex-direction: column;
    height:60vh;
    margin-top: 30px;
    margin-bottom: 150px;
    
    color: white;
    align-items: center;
}

.button{
    /* padding: 0 7px; */
    width: 220px;
    height: 35px;
    /* padding: 0 7px; */
    border: 2px solid rgb(20, 204, 255);
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    cursor: pointer;
    margin-top: 35px;
    font-size: large;

}
.button:hover{
    background: rgba(205, 104, 220, 0.809);
    background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(193, 29, 253, 0.797) 50%, rgba(144, 110, 240, 0.837) 100%);
    background: -webkit-linear-gradient(90deg, rgb(188, 144, 217) 0%, rgb(255, 73, 201) 50%, rgba(212, 39, 235, 0.784) 100%);
    background: linear-gradient(90deg, rgb(215, 121, 241) 10%, rgba(255, 255, 255, 0.332) 50%, rgba(255, 162, 221, 0.96) 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);



animation: gradient 7s ease infinite;
background-size: 1500% 1500%;
color: rgb(255, 255, 255);
}

@keyframes gradient{

0%{
    background-position: 0 50%;
}
50%{
    background-position: 100% 50%;
}
100%{
    background-position: 0 50%;
}
}
.title{
    margin: 14px 0 7px 0;
}
.input{
   min-height: 30px;
    height: 30px;
    width: 203px;
    padding: 0 7px;
    border: none;
    outline: none;
    
    border-radius: 8px;
  
}
.error{
    margin: 0;
    color: rgb(244, 91, 91);
    font-weight: 600;
}
.page__title{
    margin: 0;
    height: 20px;
    min-width: 50%;
}