.form {
    min-width: 97%;
    max-width: 99%;
    min-height: 20%;
    
    max-height: 100px;
    margin: 5px 3px;
    background-color: white;
    border-radius: 12px;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: 80% 20%;
    outline: 1px solid rgb(88, 155, 249);
    outline-offset: -1px;
    border-color: rgb(88, 155, 249);
}


.field {
    max-height: 70%;
    margin-left: 2px;
}

.input {
    min-width: 96%;
    max-height: 77px;
    padding: 7px;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    resize: none;
    border: none;
    background: none;
    outline: none;
    text-align: start;
    overflow: auto;

}
.input::-webkit-scrollbar {
    display: none;
}
.button__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    /* margin-left: 5px; */
    margin: 2px;
    margin-right: 7px;
    width: 50px;
    height: 20px;
    border-radius: 7px;
    border: 1.5px solid rgb(0, 195, 255);
}

.button:hover {

    background: rgb(0, 195, 255);
    background: linear-gradient(45deg, rgba(138, 90, 162, 1) 10%, rgb(0, 195, 255) 50%, rgb(102, 0, 255) 80%, rgb(255, 34, 196) 100%);

    animation: gradient 7s ease infinite;
    background-size: 5000% 5000%;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

@keyframes gradient {

    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}