.App__logo, .App__logo__stop  {
    height: 30px;
    pointer-events: none;
    display: block;
   
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App__logo {
      animation: App-logo-spin infinite 5s linear;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
.header {
 
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
   
  
  }
  .brand{
    
    margin-left: 10px;
  }
  .container{
    min-width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .brand__wrapper{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  .logout{
    height: 30px;
    width: 70px;
    border-radius: 12px;
    border: 0;
    cursor: pointer;
    background-color: rgb(244, 133, 248);
    background: linear-gradient(90deg, rgba(198,176,200,1) 0%, rgba(141,85,168,1) 50%, rgba(255,98,213,1) 100%);
    color: rgb(0, 0, 0);
    transition-property: background-color ;
    transition-duration: 1s;
  }
  .logout:hover{
    height: 31px;
    width: 71px;
    border-radius: 12px;
    border: 0;
    background-color: rgb(88, 155, 249);
    color: white;
   
  }