.App__logo, .App__logo__stop  {
    height: 35px;
    pointer-events: none;
    display: block;
   
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App__logo {
      animation: App-logo-spin infinite 5s linear;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
.header {
  --header-height:60px;
    background-color: #282c34;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
   
  
  }
  
  .brand{
    width: 100px;
    /* margin-left: 10px; */
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
  }
  h1{
    display: block;
    margin: 0 auto;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
  }
  .brand:hover{
    font-weight: 800;
    /* font-size: x-large; */
    background: rgb(198,176,200);
    background: linear-gradient(45deg, rgba(198,176,200,1) 0%, rgba(138,90,162,1) 50%, rgb(255, 34, 196) 100%);
        /* font-size: large; */
        animation: gradient 7s ease infinite;
        background-size: 1500% 1500%;
        /* color: rgb(255, 255, 255); */
        border-radius: 12px;
    }
    
    @keyframes gradient{
     
        0%{
            background-position: 0 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0 50%;
        }
    }

  .frame{
    width: 97%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .brand__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    cursor: pointer;
  }

  .logout{
    height: 31px;
    width: 70px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    background-color: rgb(244, 133, 248);
    background: linear-gradient(90deg, rgba(198,176,200,1) 0%, rgba(141,85,168,1) 50%, rgba(255,98,213,1) 100%);
    color: rgb(0, 0, 0);
    transition-property: background-color ;
    transition-duration: 1s;
  }
  .burger__button{
    display: none;
  }
  @media screen and (max-width: 902px) {
    .logout {
      display: none;
    }
    .burger__button{
      display: block;
    }
    
  }
  .logout:hover{
    height: 31px;
    width: 71px;
    border-radius: 12px;
    border: 0;
    background: rgb(198,176,200);
    background: linear-gradient(45deg, rgba(198,176,200,1) 0%, rgba(138,90,162,1) 50%, rgba(255,98,213,1) 100%);
    
        animation: gradient 3s ease infinite;
        background-size: 500% 500%;
    color: white;
   
  }

  @keyframes gradient{
 
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}