.container-users, .container-participants{
    padding-left: 10px;
    margin:  2px 0 20px  2px ;
    height: 28px;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid rgb(49, 166, 255);
    border-radius: 14px;
    background-color: white;
    color:  rgb(49, 166, 255);
}

.container-participants{
    width: 96%;
}

.container-users{
    width: 99%;
    
}
