.container{
   display: flex;
   flex-direction: column;

    
}
.dialogs, .groupDialogs{
    min-height: 30vh;
   
}
.groupDialogs{
    border-top: solid 0.5px;
    border-color: rgb(88, 155, 249);
}