.container{
    margin-top: 3px;
    padding-top: 10px;
    height: calc(100vh - 50px - 5px - 10px);
    width: 100%;
    
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}
.upArea{
    width: 85%;
    margin-left: 29px;
    display: flex;
    justify-content: space-between;
   
}
.dialogsName{
    margin-top: 20px;
    /* margin-left: 20px; */
    Border: none; outline: none;
}
.partisipants__container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 68% 32%;
}
.partisipants__wrapper{
   min-height: 100%;
}