.frame{
    margin-top: 3px;
    padding-top: 10px;
    /* height: calc(100vh - 50px - 5px - 10px - 1vh); */
    min-height: 85vh;
    
    width: 100%;
    
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 16px;
    border: solid 2px rgb(88, 155, 249);
}
.uparea__wrapper{
    min-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.upArea{
    /* margin-top: 3px; */
    padding: 0 15px;
    width: calc(95%);
    height: 20px;
    /* margin-left: 1%; */
    /* padding-right: 200px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 0.5px solid grey;
    border-radius: 10px;
    padding: 10px 3px;
   
   
}
.dialogsName{
    margin-top: 20px;
    /* margin-left: 20px; */
    Border: none; outline: none;
    
}
.partisipants__container{
    width: 96%;
    min-height: 70vh;
    max-height: calc(100%-70vh);
    display: grid;
    grid-template-columns: 73% 27%;
}
.partisipants__wrapper{
    max-height: calc(100%-70vh);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;

}
.title{
    width: 100%;
    text-align: center;
}