
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}


.messages{
    height: 97%;
    width: 97%;
    background-color: white;
    border-radius: 16px;
    display: grid;
}

.message, .myMessage{
    margin: 5px;
width: 250px;
max-height: 100%;
border-radius: 16px;
border: solid 1px;
/* position: absolute; */

}
