.form{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 100%;
margin: 1px 3px;

}

.button{

}

.input{
width: 100%;
min-height: 100%;
display: block;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
resize: none;
border: none;
background: none;
outline: none;
}