.App {
  text-align: center;
}


.page{
  width: 100%;
  min-height: 100%;
  overflow: auto;
display: flex;
justify-content: center;
align-items: center;
background: rgb(198,176,200);
background: linear-gradient(45deg, rgba(198,176,200,1) 0%, rgba(138,90,162,1) 50%, rgba(255,98,213,1) 100%);

}


.App-link {
  color: #61dafb;
}

[class*=page]{
  /* max-width: 991px;
   */
   
   height: calc(100vh - 60px);
 
}
[class*=frame]{
  /* max-width: 991px;
   */
   
   max-width: 1227px;
 
}
