.container{
  
    min-width: 100%;
    width: 100%;
    height: 100%;
   
    display: flex;
   
    align-items: center;
    
    flex-direction: column;
   
  
}
.title__wrapper{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    display: inline-block;
    min-width: 100%;
    text-align: center;
}
.users{
    margin: 0 auto;
    min-height: 28px;
    /* margin-left: 7px; */
    /* margin-right: 2px; */
    /* padding-right: 5; */
    width: 99%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: auto;

}
.cards__wrapper{
    min-width: 100%;
    display: flex;
    /* justify-content: space-around; */
    /* align-items: stretch; */
    flex-wrap: wrap;
}
@media screen and (max-width: 731px) {
    .users {
        width:97%;
    }
 
  }
@keyframes gradient{
 
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}