.container{
    /* padding: 0 15px; */
    min-width: 100%;
    height: 100%;
    /* padding: 25px; */
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    flex-direction: column;
    /* border: 0.5px solid rgb(88, 155, 249); */
  
}
.title__wrapper{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    display: inline-block;
    min-width: 100%;
    text-align: center;
}
.users{
    min-height: 28px;
    margin: 5px;
    width: 97%;
    max-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: auto;

}
/* .users:nth-child(3n+2) {
    margin: 25px 25px 0 25px;
} */
@keyframes gradient{
 
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}